:root {
    --base-color: linear-gradient(90deg, #2C6C92 0%, rgba(150, 191, 211, 0.400492) 117.99%, rgba(221, 247, 255, 0) 196.81%, #448895 196.81%);
    --base-color-fallback: #2C6C92;
    --accent-color: #FAC1B5;
    --light-blue-bg: #F4FDFF;
}
#hello_div{
    padding-top:  10px;
    padding-bottom:  10px;
    color: #8C080C;
}
.grad1 {
    background-color: var(--base-color-fallback); /* For browsers that do not support gradients */
    background-image: var(--base-color);
    color: white;
  }

.lightblue{
    background-color: var(--light-blue-bg);
}

.salmon{
    background-color: var(--accent-color);
}

.lightgreen{
    background-color: rgb(189, 245, 189);
}

.lightgray{
    background-color: lightgray;
}


p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}


.pic1{
    width: 50%;
}
.pic2{
    width: 75%;
}
.picspace{
    width: 40%;
}
.welcome{
    font-size: x-large;
}
.center {
    text-align: center;
  }

.container.learn {
    background-color: white;
    border-radius: 4px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.container.quiz {
    background-color: white;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px 0;
}
.container.quiz .quizQuestion,
.container.quiz .photo,
.container.quiz .quizInfo,
.container.quiz .quizAnswers {
    justify-content: center;
}
.container.quiz .quizQuestion,
.container.quiz .photo {
    margin-bottom: 40px;
}
.container.quiz .quizInfo #drag-n-drop {
    margin-top: -80px;
}
.learnNoteType{
    font-size: 26px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quizQuestion{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quizchoice{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
}

.learnNoteInfo{
    padding-top: 25px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.learnNoteInfo .image > .pic2 {
    margin-left: auto;
    display: block;
}
.learnNoteInfo .info {
    max-width: 45%;
    margin-right: auto;
}

/* INTERACTIVE PLAYBACK STYLES */
.interactive #score-container {
    position: absolute;
    top: 10px;
    right: 75px;
    z-index: 2;
}
.interactive #note-eater {
    position: absolute;
    height: 100%;
    width: 55.5%;
    left: -50%;
    background: #FFFFFF;
    z-index: 1;
}
.interactive #countdown {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    margin: auto;
    top: 0;
    bottom: 0;
    font-size: 200px;
    background: #ffffffc9;
    z-index: 1;
    color: #f22f2f;
}
.interactive #status-message {
    position: absolute;
    left: 300px;
    font-size: 30px;
    margin: auto;
    width: fit-content;
    top: 20px;
}
.interactive #line {
    position: absolute;
    left: 270px;
    height: 100%;
    width: 15px;
    background-color: #00d30080;
    z-index: 1;
}
.interactive #notes {
    position: absolute;
    left: 345px;
    bottom: 92.5px;
}
.interactive #notes .note {
    width: 60px;
    z-index: 0;
}
.interactive #play,
.interactive #replay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: fit-content;
    width: fit-content;
    margin: auto;
    z-index: 2;
    box-shadow: #00000042 1px 2px 7px 0px;
}
.interactive #replay {
    display: none;
}
.interactive #spacebar-icon {
    height: 90px;
    position: absolute;
    bottom: -30px;
    right: 67.5px;
    z-index: 2;
}
.btn.accent-button {
    background-color: var(--accent-color);
    color: white;
}
.btn.disabled-button {
    background-color: #d6d6d6;
    pointer-events: none;
}

/* INTERACTIVE QUIZ STYLES */
#drag-n-drop {
    position: relative;
    text-align: center;
}
#drag-n-drop #track-container {
    width: 50%;
    background: #fff;
    border: 1px solid darkgray;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
#drag-n-drop #track-container.first {
    border: 3px solid black;
}
#drag-n-drop #track-container #track-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
#drag-n-drop #note-canvas {
    position: absolute;
    height: 360px;
    width: 100%;
}
#drag-n-drop #note-canvas #notes {
    position: absolute;
    left: 265px;
    bottom: 95.5px;
    display: flex;
    align-items: flex-end;
}
#drag-n-drop #note-canvas #notes .drag-note:hover {
    cursor: pointer;
    opacity: 0.25;
}
#drag-n-drop #note-canvas.ui-droppable-active {
    background: #b5ffb547;
}
#drag-n-drop #score.hidden,
#drag-n-drop #note-zone-container.hidden {
    opacity: 0.25;
    pointer-events: none;
}
#drag-n-drop #note-zone-container {
    width: 50%;
    margin: 0 auto;
    padding: 15px 0;
    background: #f5f5f5;
}
#drag-n-drop #note-zone-container #note-zone {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#drag-n-drop #note-zone-container #note-zone .drag-note {
    cursor: move;
}
#drag-n-drop #note-canvas #notes .drag-note,
#drag-n-drop #note-canvas #notes .drag-note.ui-draggable-dragging,
#drag-n-drop #note-zone-container #note-zone .drag-note {
    margin-right: 20px;
    height: 140px;
}
#drag-n-drop #note-canvas #notes .drag-note#w,
#drag-n-drop #note-zone-container #note-zone .drag-note#w {
    height: 42.5px;
}