{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'endpage.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>

    <script>
    let QUIZ_RESULTS = {{ QUIZ_RESULTS | tojson}}
    let LEARN_TIME = {{ LEARN_TIME | tojson}}
    </script>

    <div class="container">

    <div class="row welcome">
        Thank you for taking the Rhythm Lesson!
    </div>

    <div class="row resultScore">
        Your Score is: 
    </div>

    <div class="row learnedTime">
        
    </div>

        <button type="button" id="learnBtn">Learn Again</button>

        <button type="button" id="quizBtn">Take Quiz Again</button>

    </div>

{% endblock %}
