{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'endpage.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>

    <script>
    let QUIZ_RESULTS = {{ QUIZ_RESULTS | tojson}}
    let LEARN_TIME = {{ LEARN_TIME | tojson}}
    </script>

    <div class="container">
        <br>

        <div class="row welcome">
            Thank you for taking the Rhythm Lesson!
        </div>
        <br>

        <div class="row resultScore">
            Your Score is: 
        </div>
        <br>

        <div class="row incorrectQuestions">

        </div>
        <br>

        <div class="row toReview">

        </div>
        <br>

        <div class="row learnedTime">
            
        </div>
        <br>

        <button type="button" id="learnBtn" class="btn btn-success btn-lg">Learn Again</button>

        <button type="button" id="quizBtn" class="btn btn-success btn-lg">Take Quiz Again</button>

    </div>

{% endblock %}
