{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'playback.js') }}"></script>
<script>
    let learnQ = {{learnQ|tojson}}
</script>

<div class="container">

    <!-- contains text with note type -->
    <div class="row learnNoteType">
    </div>

    <!-- contains relevant images and text for learning -->
    <div class="row learnNoteInfo">

        <!-- IMAGES HERE -->
        <div class="col-md-6 image">
        
        </div>

        <div class="col-md-6 info">

        </div>
    </div>
    <br>

    <div class="row learnNoteInfo">

        <!-- INTERACTIVE THINGS HERE -->
        <div class="col-md-12 interactive">
        <h1>playback</h1>
        <p>tap the <u>spacebar</u> when the note overlaps the green line</p>
        <p>Score: <span id="note-count"></span>/<span id="note-count-score"></span></p>
        <div class="main">
            <!-- <span id="countdown"></span> -->
            <span id="status-message"></span>
            <div id="line"></div>
            <div id="notes"></div>
            <img src="{{ url_for('static', filename = 'img/score.jpeg') }}" alt="musical score">
        </div>
        <button id="play">play</button>
        </div>

    </div>

    <!-- contains next button -->
    <div class="row footer">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <button type="button" id="next">Next</button>
        </div>
    </div>



</div>


{% endblock %}