{% extends "layout.html" %}

{% block content %}
<script>
    let learnQ = {{learnQ|tojson}}
    let LEARN_TIME = {{ LEARN_TIME | tojson}}
    const track = "{{ url_for('static', filename = 'tracks/' + learnQ.pattern.track) }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'playback.js') }}"></script>
<div class="container learn">

    <!-- contains text with note type -->
    <div class="row learnNoteType">
    </div>
    <div class="row">
        <!-- INTERACTIVE THINGS HERE -->
        <div class="col-md-12 interactive">
            <p id="score-container">Score: <span id="note-count"></span>/<span id="note-count-score"></span></p>
            <div class="main">
                <span id="countdown"></span>
                <div id="note-eater"></div>
                <span id="status-message"></span>
                <div id="line"></div>
                <div id="notes"></div>
                <img id="score" src="{{ url_for('static', filename = 'img/score.jpeg') }}" alt="musical score">
            </div>
            <button id="play" class = "btn accent-button btn-lg">▶</button>
            <button id="replay" class = "btn accent-button btn-lg">↺</button>
            <img id="spacebar-icon" src="{{ url_for('static', filename = 'img/spacebar.png') }}" />
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-md-6"> -->
            <!-- <h1>playback</h1> -->
            <!-- <p>tap the <u>spacebar</u> when the note overlaps the green line</p> -->
        <!-- </div> -->

        <!-- <div class="col-md-6"> -->
            <!-- <img src="https://www.arealme.com/cover-images/spacebar-test.png" class="picspace"> -->
        <!-- </div> -->
    </div>

    <!-- contains relevant images and text for learning -->
    <div class="row learnNoteInfo">
        <!-- IMAGES HERE -->
        <div class="col-md-6 image">
        </div>
        <div class="col-md-6 info">
            {{learnQ["info"] | safe}}
        </div>
    </div>
    <br>

    <!-- contains next button -->
    <div class="row footer">
        <div class="col-md-3">
            <button type="button" id="previous" class="btn btn-secondary btn-lg">Previous</button>
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-3">
            <button type="button" id="next" class = "btn accent-button disabled-button btn-lg">Next</button>
        </div>
    </div>



</div>


{% endblock %}