{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<script>
    let quizQ = {{quizQ|tojson}}
</script>

<div class="container">
    <!-- contains question -->
    <div class="row quizQuestion">
    </div>

    <!-- contains choices -->
    <div class="row quizAnswers">

        
    </div>
    <br>

    <div class="row quizInfo">

        <!-- INTERACTIVE THINGS HERE -->
        <div class="col-md-9 interactive">
        Interactive quiz part placeholder
        <img src="https://i0.wp.com/www.dailycal.org/assets/uploads/2013/11/test-creative-commons-e1443372157633.jpg?ssl=1" alt="learning pic" class = "pic2">
        </div>

    </div>

    <!-- contains next button -->
    <div class="row footer">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <button type="button" id="next">Next</button>
        </div>
    </div>



</div>

{% endblock %}